<include file="public/header" title="注册 ｜ {:C('WEB_TITLE')}"/>
<div class="container">
    <div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">注册成功:)</h1>
            </div>
            <div class="panel-body">
                <center>已经将包含激活链接的邮件发送至<strong>{$mail}</strong>请前往邮箱查看。</center>
            </div>
        </div>
    </div>
        <include file="public/sidebar"/>
    </div>
</div>
<include file="public/footer"/>