<div class="page-header"></div>
<a href="#">关于</a>    ·   <a href="#">FAQ</a> <a href="http://upyun.com"><img class="pull-right" src="__PUBLIC__/image/120x60.png" alt="Upyun"> </a>

        <br><strong>NNOW是一个自由开放的社区</strong>
        <br><small>♥ Do have fun in what you're doing.</small>
        <p>Lovingly made by <strong>XCAI</strong></p><a href="http://sae.sina.com.cn"><img class="pull-right" src="__PUBLIC__/image/sae.png" alt="新浪云计算"/> </a>
        <small>VERSION: 0.8 · <php>echo G('begin','end',2).'s';</php> · <php>echo date('Y-m-d H:i:s');</php></small>
</div>

<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>

</body>
</html>