<div class="footer" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <p>♥ Do have fun in what you're doing.
        Lovingly made by <a href="{:U('/u/' . XCAI)}"> <i>XCAI</i></a><br>
        VERSION: 0.2.0 build-150827. Page rendered in <php>echo G('begin','end',2).'s';</php> seconds. <php>echo date('Y-m-d H:i:s');</php></p>
    </div>
    <script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
</div><!-- /.footer -->
</body>
</html>