<include file="public/header" title="创建新的主题 ｜ {:C('WEB_TITLE')}"/>
<link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
 <script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
 <script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
 <script charset="utf-8" src="__PUBLIC__/kindeditor/jquery-1.9.1.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-8 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">创建新的主题</h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="{:U('article/post_article')}">
                        <h5>标题：</h5>
                        <input type="text" class="form-control" placeholder="请输入标题" name="title">
                        <h5>正文：</h5>
                        <textarea name="content" id="text-input" style="width:100%;height:450px;visibility:hidden;"></textarea>
                        <!--
                        <textarea class="form-control" placeholder="请输入正文" id="text-input" name="content"></textarea>
                        -->
                        <h5>选择一个好的节点很重要</h5>
                        <select class="form-control" name="node">
                            <volist name="node" id="vo">
                                <option>{$vo.node}</option>
                            </volist>
                        </select>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-send"></span> 发布主题</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="panel panel-info">
                <div class="panel-heading">
                    发帖提示
                </div>
                <div class="panel-body">
                    <li>主题标题</li>
                    <small>请在标题中描述内容要点。如果一件事情在标题的长度内就已经可以说清楚，那就没有必要写正文了。</small>
                    <li>正文</li>
                    <small>可以在正文中为你要发布的主题添加更多细节。NNOW 支持  Markdown 文本标记语法。</small>
                    <li>选择节点</li>
                    <small>在最后，请为你的主题选择一个节点。恰当的归类会让你发布的信息更加有用。
                        注意：暂时发表的帖子无法修改，敬请注意。</small>
                </div>

            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    社区指导原则
                </div>
                <div class="panel-body">
                    <li>尊重原创</li>
                    <small>请不要在 NNOW 发布任何盗版下载链接，包括软件、音乐、电影等等。NNOW 是创意工作者的社区，我们尊重原创。</small>
                    <li>友好互助</li>
                    <small>保持对陌生人的友善。用知识去帮助别人。</small>
                </div>

            </div>
</div>
        </div>
    </div>
        <include file="public/footer"/>



<script type="text/javascript">
        var editor;
            KindEditor.ready(function(K) {
                editor = K.create('textarea[name="content"]', {
                    resizeType : 1,
                    allowPreviewEmoticons : false,
                    allowImageUpload : true,
                    items : [
                        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                        'insertunorderedlist', '|', 'emoticons', 'image', 'link']
                });
            });
 </script>      