<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css"/>
    <title></title>
</head>
<body>
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">
                <center><h2>注册成功:)</h2></center>
            </div>
            <div class="panel-body">
                <center>已经将包含激活链接的邮件发送至<strong>{$mail}</strong>请前往邮箱查看。</center>
            </div>
        </div>
    </div>
</body>
</html>